.connect-button__button {
  padding: 4px;
  margin-bottom: 10px;
  background-color: #282c34;
  color: white;
  border: 1px currentColor solid;

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: #33353a;
  }

  &:disabled {
    background-color: #1f2125;
    color: rgb(128, 128, 128);
    border-color: currentColor;
  }
}

.connect-button__status {
  margin-left: 8px;
}